<script>

    import RandomNumberBetween from './sub-services/RandomNumBetween.svelte'
    import RandomStringLength from './sub-services/RandomStringLength.svelte';
    import ConvertToUppercase from './sub-services/ConvertToUppercase.svelte';
    import ConvertToLowerCase from './sub-services/ConvertToLowerCase.svelte';
    import RandomFullname from './sub-services/RandomFullname.svelte';

</script>


<div class="container-services">

    <RandomNumberBetween />
    <RandomStringLength />
    <ConvertToUppercase />
    <ConvertToLowerCase />
    <RandomFullname />

</div>