<script>

    import random from '../../utils/functions/randoms'

    let resultRandomFullname = null

    async function onRandomFullname () {
        resultRandomFullname = await random.randomFullname()
    }
    
</script>


<div class="card-service">
    <div class="title-service">
        <p>Convert String to Uppercase</p>
    </div>
    <div class="body-service">
    </div>
    <div class="action-service">
        <button class="decorative-button" on:click={onRandomFullname}>Random</button>
    </div>
    <div class="result-service">
        <p>Result: &nbsp;{resultRandomFullname|| '-'}</p>
    </div>
</div>